/* line 1, app/sass/style.css */
input:focus {
  outline: 0 !important;
  border-bottom: 1px solid #39b54a !important;
  -webkit-box-shadow: 0 1px 0 0 #39b54a !important;
  -moz-box-shadow: 0 1px 0 0 #39b54a !important;
  box-shadow: 0 1px 0 0 #39b54a !important; }

/* line 7, app/sass/style.css */
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  height: auto;
  margin: 0; }

/* line 11, app/sass/style.css */
.radio_btn div {
  margin: 0 0 0.75em 0; }

/* line 14, app/sass/style.css */
.radio_btn input[type="radio"] {
  display: none; }

/* line 17, app/sass/style.css */
.radio_btn input[type="radio"] + label {
  color: #292321;
  font-family: Arial, sans-serif;
  font-size: 14px; }

/* line 22, app/sass/style.css */
.radio_btn input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/* line 32, app/sass/style.css */
.radio_btn input[type="radio"] + label span {
  background-color: #292321; }

/* line 35, app/sass/style.css */
.radio_btn input[type="radio"]:checked + label span {
  background-color: #CC3300; }

/* line 38, app/sass/style.css */
.radio_btn input[type="radio"] + label span,
.radio_btn input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear; }

/* line 45, app/sass/style.css */
.radio_btn_classic {
  width: 100%; }

/* line 47, app/sass/style.css */
.radio_btn_classic p {
  text-align: center;
  margin: 0;
  line-height: 44px; }

/* line 51, app/sass/style.css */
.radio_btn_classic .label_wrapper {
  text-align: center;
  margin: 0; }

/* line 54, app/sass/style.css */
.radio_btn_classic .label_wrapper label {
  border-bottom: 1px solid;
  height: 54px; }

/* line 57, app/sass/style.css */
.radio_btn_classic .label_wrapper label:after, .radio_btn_classic .label_wrapper label:before {
  display: none; }

/* line 59, app/sass/style.css */
.radio_btn_classic .label_wrapper label p {
  font-weight: 900;
  font-size: 17px; }

/* line 62, app/sass/style.css */
.radio_btn_classic .label_wrapper label p b {
  font-weight: 300;
  font-size: 27px; }

/* line 65, app/sass/style.css */
.radio_btn_classic div {
  margin: 0 0 0.75em 0; }

/* line 67, app/sass/style.css */
.radio_btn_classic input[type="radio"] {
  display: none; }

/* line 69, app/sass/style.css */
.radio_btn_classic input[type="radio"] + label {
  color: #BCBEC0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 38px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 80, app/sass/style.css */
.radio_btn_classic input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #808285;
  position: relative; }

/* line 93, app/sass/style.css */
.radio_btn_classic input[type="radio"] + label span:after {
  content: "";
  width: 20px;
  height: 3px;
  background: #39B54A;
  display: block;
  position: absolute;
  top: 17px;
  left: 12px;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0; }

/* line 105, app/sass/style.css */
.radio_btn_classic input[type="radio"] + label span:before {
  content: "";
  width: 12px;
  height: 3px;
  background: #39B54A;
  display: block;
  position: absolute;
  top: 21px;
  left: 6px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0; }

/* line 117, app/sass/style.css */
.radio_btn_classic input[type="radio"]:checked + label span {
  -webkit-transition: border-color 0.4s linear;
  -o-transition: border-color 0.4s linear;
  -moz-transition: border-color 0.4s linear;
  transition: border-color 0.4s linear;
  border-color: #39B54A; }

/* line 123, app/sass/style.css */
.radio_btn_classic input[type="radio"]:checked + label span:after {
  opacity: 1; }

/* line 125, app/sass/style.css */
.radio_btn_classic input[type="radio"]:checked + label span:before {
  opacity: 1; }

/* line 128, app/sass/style.css */
html {
  width: 100%;
  height: 100%; }

/* line 131, app/sass/style.css */
html body {
  width: 100%;
  height: 100%; }

/* line 134, app/sass/style.css */
html body .page-wrap {
  width: 100%;
  height: 100%;
  max-width: 375px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #000; }

/* line 142, app/sass/style.css */
html body .page-wrap.chose_level_page section.register_content h2 {
  margin: 20px 0; }

/* line 144, app/sass/style.css */
html body .page-wrap.list_page ul {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 147, app/sass/style.css */
html body .page-wrap.list_page ul li {
  list-style-type: none;
  padding: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 151, app/sass/style.css */
html body .page-wrap.list_page footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0; }

/* line 158, app/sass/style.css */
html body .page-wrap.list_page footer a {
  width: auto;
  padding: 0 42px; }

/* line 161, app/sass/style.css */
html body .page-wrap.home_page header {
  padding: 20px !important;
  height: 144px !important; }

/* line 164, app/sass/style.css */
html body .page-wrap.home_page header a.logo {
  width: auto;
  margin: auto; }

/* line 167, app/sass/style.css */
html body .page-wrap.home_page header .burder_menu {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 20px;
  margin: 10px 0 0 -10px; }

/* line 173, app/sass/style.css */
html body .page-wrap.home_page footer {
  min-height: 70px; }

/* line 175, app/sass/style.css */
html body .page-wrap.full_season_page {
  min-height: 554px; }

/* line 177, app/sass/style.css */
html body .page-wrap.full_season_page [type="radio"]:checked + label:after, html body .page-wrap.full_season_page [type="radio"].with-gap:checked + label:after {
  display: none; }

/* line 179, app/sass/style.css */
html body .page-wrap.full_season_page [type="radio"] + label, html body .page-wrap.full_season_page [type="radio"].with-gap + label {
  font-weight: 600;
  font-size: 16px; }

/* line 182, app/sass/style.css */
html body .page-wrap.full_season_page [type="radio"]:checked + label, html body .page-wrap.full_season_page [type="radio"].with-gap:checked + label {
  background: #39B54A;
  color: #fff !important; }

/* line 185, app/sass/style.css */
html body .page-wrap.full_season_page .citys_wrap a {
  text-transform: uppercase; }

/* line 187, app/sass/style.css */
html body .page-wrap.full_season_page .row p b {
  font-size: 22px;
  font-weight: 300; }

/* line 190, app/sass/style.css */
html body .page-wrap.chose_pick_page .row p b {
  font-size: 22px;
  font-weight: 300; }

/* line 193, app/sass/style.css */
html body .page-wrap.chose_pick_page .row .auto_center .green_text {
  padding-bottom: 16px; }

/* line 195, app/sass/style.css */
html body .page-wrap.chose_pick_page .popup {
  border: 0; }

/* line 197, app/sass/style.css */
html body .page-wrap.chose_pick_page .popup .popup_content {
  padding: 50px 0; }

/* line 199, app/sass/style.css */
html body .page-wrap.chose_pick_page footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 14px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 8px;
  left: 0;
  right: 0; }

/* line 208, app/sass/style.css */
html body .page-wrap.chose_pick_page footer .btn_column {
  padding-top: 20px;
  width: 80%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

/* line 212, app/sass/style.css */
html body .page-wrap.chose_pick_page footer .submit {
  margin: 10px; }

/* line 214, app/sass/style.css */
html body .page-wrap.chose_pick_page footer .btn.btn-transparent {
  -moz-border-radius: 10px;
  border-radius: 10px; }

/* line 216, app/sass/style.css */
html body .page-wrap.full_season_page .my_status, html body .page-wrap.chose_pick_page .my_status {
  padding-bottom: 6px; }

/* line 218, app/sass/style.css */
html body .page-wrap.full_season_page .default_week, html body .page-wrap.full_season_page .my_status, html body .page-wrap.chose_pick_page .default_week, html body .page-wrap.chose_pick_page .my_status {
  border-bottom: 1px solid #808285;
  margin-bottom: 0; }

/* line 221, app/sass/style.css */
html body .page-wrap.full_season_page .default_week .row, html body .page-wrap.full_season_page .my_status .row, html body .page-wrap.chose_pick_page .default_week .row, html body .page-wrap.chose_pick_page .my_status .row {
  margin-bottom: 0;
  text-transform: capitalize;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 22px; }

/* line 226, app/sass/style.css */
html body .page-wrap.full_season_page .default_week .row.auto_center a, html body .page-wrap.full_season_page .my_status .row.auto_center a, html body .page-wrap.chose_pick_page .default_week .row.auto_center a, html body .page-wrap.chose_pick_page .my_status .row.auto_center a {
  text-align: center;
  width: 90%;
  color: #BCBEC0;
  text-transform: uppercase; }

/* line 231, app/sass/style.css */
html body .page-wrap.full_season_page .default_week .row.auto_center p, html body .page-wrap.full_season_page .my_status .row.auto_center p, html body .page-wrap.chose_pick_page .default_week .row.auto_center p, html body .page-wrap.chose_pick_page .my_status .row.auto_center p {
  margin: auto; }

/* line 233, app/sass/style.css */
html body .page-wrap.full_season_page .default_week .row.auto_center.picked_top, html body .page-wrap.full_season_page .my_status .row.auto_center.picked_top, html body .page-wrap.chose_pick_page .default_week .row.auto_center.picked_top, html body .page-wrap.chose_pick_page .my_status .row.auto_center.picked_top {
  padding: 35px 0; }

/* line 235, app/sass/style.css */
html body .page-wrap.full_season_page .default_week .row p, html body .page-wrap.full_season_page .my_status .row p, html body .page-wrap.chose_pick_page .default_week .row p, html body .page-wrap.chose_pick_page .my_status .row p {
  margin: 4px 0 4px 0; }

/* line 237, app/sass/style.css */
html body .page-wrap.full_season_page .radio_btn div, html body .page-wrap.chose_pick_page .radio_btn div {
  margin: 0 0 0.75em 0; }

/* line 239, app/sass/style.css */
html body .page-wrap.full_season_page .radio_btn input[type="radio"], html body .page-wrap.chose_pick_page .radio_btn input[type="radio"] {
  display: none; }

/* line 241, app/sass/style.css */
html body .page-wrap.full_season_page .radio_btn input[type="radio"] + label, html body .page-wrap.chose_pick_page .radio_btn input[type="radio"] + label {
  color: #BCBEC0;
  padding: 0;
  border: 1px solid #39B54A;
  text-align: center;
  height: 44px;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

/* line 253, app/sass/style.css */
html body .page-wrap.full_season_page .radio_btn input[type="radio"] + label:before, html body .page-wrap.chose_pick_page .radio_btn input[type="radio"] + label:before {
  display: none; }

/* line 255, app/sass/style.css */
html body .page-wrap.full_season_page .radio_btn input[type="radio"] + label span, html body .page-wrap.chose_pick_page .radio_btn input[type="radio"] + label span {
  display: none; }

/* line 257, app/sass/style.css */
html body .page-wrap a, html body .page-wrap p, html body .page-wrap li, html body .page-wrap span {
  color: #BCBEC0;
  text-decoration: none;
  font-family: Open Sans; }

/* line 261, app/sass/style.css */
html body .page-wrap h1, html body .page-wrap h2, html body .page-wrap h3, html body .page-wrap h4 {
  color: #fff;
  text-decoration: none;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 27px;
  margin: 6px 0; }

/* line 268, app/sass/style.css */
html body .page-wrap h2 {
  text-transform: uppercase;
  margin: 10px auto; }

/* line 271, app/sass/style.css */
html body .page-wrap h3 {
  text-transform: uppercase;
  width: 100%;
  font-size: 33px;
  text-align: center;
  border-bottom: 1px solid #808285;
  line-height: 1.4;
  margin: 0; }

/* line 279, app/sass/style.css */
html body .page-wrap .submit, html body .page-wrap .btn {
  font-family: "Roboto";
  font-size: 22px;
  color: #ffffff;
  width: 94%;
  text-align: center;
  display: block;
  text-transform: uppercase;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  font-family: Open Sans;
  font-size: 26px;
  text-transform: capitalize;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  background: #39B54A;
  margin: auto;
  margin-top: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #39B54A;
  line-height: 66px;
  height: auto;
  margin-top: 16px; }

/* line 301, app/sass/style.css */
html body .page-wrap .submit.btn-transparent, html body .page-wrap .btn.btn-transparent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  padding: 6px 30px;
  width: auto;
  display: inline;
  color: #39B54A;
  -moz-border-radius: 10px;
  border-radius: 10px; }

/* line 311, app/sass/style.css */
html body .page-wrap .submit.btn-transparent.red, html body .page-wrap .btn.btn-transparent.red {
  color: #ED2224;
  background: transparent !important; }

/* line 314, app/sass/style.css */
html body .page-wrap .submit[type="submit"], html body .page-wrap .btn[type="submit"] {
  line-height: 100%; }

/* line 316, app/sass/style.css */
html body .page-wrap .submit.popup_chose_level_info, html body .page-wrap .btn.popup_chose_level_info {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0; }

/* line 321, app/sass/style.css */
html body .page-wrap img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%; }

/* line 327, app/sass/style.css */
html body .page-wrap header > div, html body .page-wrap header > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 20%; }

/* line 331, app/sass/style.css */
html body .page-wrap header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #000;
  padding: 0 20px;
  height: 70px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }

/* line 342, app/sass/style.css */
html body .page-wrap header .my_picks {
  font-size: 12px;
  width: 32%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-transform: capitalize; }

/* line 347, app/sass/style.css */
html body .page-wrap header .cash_account {
  color: #BCBEC0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

/* line 350, app/sass/style.css */
html body .page-wrap header .burder_menu {
  position: absolute;
  bottom: 0;
  top: 0;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

/* line 360, app/sass/style.css */
html body .page-wrap header .burder_menu.hidden_balance {
  visibility: hidden; }

/* line 362, app/sass/style.css */
html body .page-wrap header a.logo img {
  width: auto;
  height: auto; }

/* line 365, app/sass/style.css */
html body .page-wrap header .avatar_header {
  background: url("../img/avatar.png") no-repeat;
  width: 32px;
  height: 32px;
  display: block; }

/* line 370, app/sass/style.css */
html body .page-wrap nav {
  z-index: 9999;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  height: 100%;
  padding: 24px;
  top: 0;
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  opacity: 0;
  left: -100%;
  max-width: 300px; }

/* line 384, app/sass/style.css */
html body .page-wrap nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 387, app/sass/style.css */
html body .page-wrap nav ul li a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-family: "Roboto", sans-serif; }

/* line 392, app/sass/style.css */
html body .page-wrap nav.visible_nav {
  left: 0;
  opacity: 1;
  left: 0; }

/* line 396, app/sass/style.css */
html body .page-wrap section {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%; }

/* line 404, app/sass/style.css */
html body .page-wrap section h2 {
  text-transform: uppercase; }

/* line 406, app/sass/style.css */
html body .page-wrap section .checked_static {
  -webkit-transition: border-color 0.4s linear;
  -o-transition: border-color 0.4s linear;
  -moz-transition: border-color 0.4s linear;
  transition: border-color 0.4s linear;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #39B54A;
  position: relative; }

/* line 425, app/sass/style.css */
html body .page-wrap section .checked_static:after {
  content: "";
  width: 20px;
  height: 3px;
  background: #39B54A;
  display: block;
  position: absolute;
  top: 17px;
  left: 12px;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }

/* line 443, app/sass/style.css */
html body .page-wrap section .checked_static:before {
  content: "";
  width: 12px;
  height: 3px;
  background: #39B54A;
  display: block;
  position: absolute;
  top: 21px;
  left: 6px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }

/* line 461, app/sass/style.css */
html body .page-wrap section form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 464, app/sass/style.css */
html body .page-wrap section form.city_form {
  margin-bottom: 10px;
  left: 0;
  right: 0; }

/* line 468, app/sass/style.css */
html body .page-wrap section form.city_form .citys_wrap {
  padding: 0 18px;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

/* line 474, app/sass/style.css */
html body .page-wrap section form.city_form .citys_wrap .row {
  margin: 0 !important; }

/* line 476, app/sass/style.css */
html body .page-wrap section form.city_form .citys_wrap .row a {
  text-align: center; }

/* line 478, app/sass/style.css */
html body .page-wrap section form.radio_btn_classic p {
  line-height: 72px; }

/* line 480, app/sass/style.css */
html body .page-wrap section form.sign-up {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  position: relative; }

/* line 486, app/sass/style.css */
html body .page-wrap section form.sign-up .sign-up-btn {
  justify-self: flex-end;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
  margin-top: auto; }

/* line 491, app/sass/style.css */
html body .page-wrap section form.sign-up input {
  color: #BCBEC0;
  border: 0;
  background: transparent;
  line-height: 64px;
  border-bottom: 1px solid;
  padding: 0; }

/* line 498, app/sass/style.css */
html body .page-wrap section form.sign-up .submit {
  margin: 0 auto;
  margin-top: 50px;
  bottom: 10px; }

/* line 502, app/sass/style.css */
html body .page-wrap section.index_content {
  background: #000000; }

/* line 504, app/sass/style.css */
html body .page-wrap section.register_content {
  background: #292929; }

/* line 506, app/sass/style.css */
html body .page-wrap section .done_pickeng {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 126px;
  margin-top: 28px; }

/* line 512, app/sass/style.css */
html body .page-wrap section .row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* line 517, app/sass/style.css */
html body .page-wrap section .row.carousel-row {
  margin-bottom: 4px; }

/* line 519, app/sass/style.css */
html body .page-wrap section .row:after {
  display: none; }

/* line 521, app/sass/style.css */
html body .page-wrap section .row .big_text {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 700;
  color: #BCBEC0; }

/* line 526, app/sass/style.css */
html body .page-wrap section .row .big_text .green_text {
  color: #39B54A; }

/* line 528, app/sass/style.css */
html body .page-wrap section .row .carousel-wrap {
  margin-top: 16px;
  margin-bottom: 60px;
  padding-left: 50%; }

/* line 532, app/sass/style.css */
html body .page-wrap section .row .carousel-wrap:after {
  content: "";
  width: 100%;
  display: block;
  border: 1px solid #39B54A;
  height: 36px;
  margin-top: -25px;
  left: 0;
  position: absolute;
  border-left: 0;
  border-right: 0;
  z-index: 1; }

/* line 544, app/sass/style.css */
html body .page-wrap section .row .carousel-wrap .carousel {
  z-index: 9;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 178px;
  height: 178px;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: -104px; }

/* line 558, app/sass/style.css */
html body .page-wrap section .row .carousel-wrap .carousel li {
  float: none;
  height: 4em;
  width: 50px;
  text-align: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* line 566, app/sass/style.css */
html body .page-wrap section .row .carousel-wrap .carousel li a {
  text-transform: uppercase;
  text-align: center;
  width: 4em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: -1em;
  font-size: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

/* line 580, app/sass/style.css */
html body .page-wrap section .row.auto_center p {
  margin: auto; }

/* line 582, app/sass/style.css */
html body .page-wrap section .row.auto_center.pick_location {
  width: 160px; }

/* line 584, app/sass/style.css */
html body .page-wrap section .row.row_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 586, app/sass/style.css */
html body .page-wrap section .row.col_2 {
  width: 47%; }

/* line 588, app/sass/style.css */
html body .page-wrap section img.main_img {
  width: 100%; }

/* line 590, app/sass/style.css */
html body .page-wrap section .main_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px; }

/* line 597, app/sass/style.css */
html body .page-wrap section .main_menu a {
  font-family: "Roboto";
  font-size: 22px;
  color: #ffffff;
  line-height: 40px;
  width: 100%;
  text-align: center;
  display: block;
  text-transform: uppercase;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px; }

/* line 609, app/sass/style.css */
html body .page-wrap section .main_menu a.active {
  line-height: 70px;
  font-family: Open Sans;
  font-size: 26px;
  text-transform: capitalize;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background: #39B54A;
  margin-top: 15px; }

/* line 617, app/sass/style.css */
html body .page-wrap section .main_menu a:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  opacity: 0;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 20%; }

/* line 632, app/sass/style.css */
html body .page-wrap footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: auto;
  height: auto; }

/* line 639, app/sass/style.css */
html body .page-wrap footer a.about_total_survivor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 72px; }

/* line 643, app/sass/style.css */
html body .page-wrap footer a.about_total_survivor span.info_ico {
  margin-right: 10px; }

/* line 645, app/sass/style.css */
html body .page-wrap footer a.play_and_win {
  font-family: "Roboto";
  background: #DBE1EB;
  font-size: 24px;
  color: #111111;
  line-height: 70px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: block; }

/* line 655, app/sass/style.css */
html body .popup {
  position: absolute;
  background: #414042;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  height: auto;
  margin: auto;
  top: auto;
  left: auto;
  right: auto;
  display: none;
  text-align: center;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 24px 8px 8px 8px;
  width: 94%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  max-width: -webkit-calc(375px * 0.86);
  max-width: -moz-calc(375px * 0.86);
  max-width: calc(375px * 0.86); }

/* line 676, app/sass/style.css */
html body .popup .btn.btn-transparent {
  padding: 6px 26px;
  text-transform: uppercase;
  font-size: 20px; }

/* line 680, app/sass/style.css */
html body .popup .close {
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: position;
  right: 5px;
  top: 5px; }

/* line 687, app/sass/style.css */
html body .popup .close:after {
  margin-left: 1px;
  content: "";
  width: 26px;
  height: 1px;
  background: #fff;
  background: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 696, app/sass/style.css */
html body .popup .close:before {
  margin-left: 1px;
  content: "";
  width: 26px;
  height: 1px;
  background: #fff;
  display: block;
  margin-top: 13px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 705, app/sass/style.css */
html body .popup p {
  margin: 8px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 300; }

/* line 710, app/sass/style.css */
html body .popup p b {
  font-weight: 900; }

/* line 712, app/sass/style.css */
html body #popup_bcg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: -webkit-calc(100% + 64px);
  height: -moz-calc(100% + 64px);
  height: calc(100% + 64px);
  background: #000000;
  opacity: .9;
  display: none; }

@media only screen and (max-width: 768px) {
  /* line 725, app/sass/style.css */
  html body {
    background: #292929; }
  /* line 727, app/sass/style.css */
  html body.index_page {
    background: #000000; }
  /* line 729, app/sass/style.css */
  html body .page-wrap {
    max-width: 768px;
    background: #292929; }
  /* line 732, app/sass/style.css */
  html body .page-wrap.home_page {
    background: #000000; }
  /* line 734, app/sass/style.css */
  html body .page-wrap section {
    max-width: 375px; } }

@media only screen and (max-height: 700px) {
  /* line 738, app/sass/style.css */
  html body.chose_pick_page .page-wrap section .done_pickeng {
    margin-top: 0; }
  /* line 740, app/sass/style.css */
  html body .page-wrap {
    height: 100% !important; }
  /* line 742, app/sass/style.css */
  html body .page-wrap.home_page {
    height: 100% !important; }
  /* line 744, app/sass/style.css */
  html body .page-wrap.home_page header {
    padding: 0 20px !important;
    height: 108px !important; }
  /* line 747, app/sass/style.css */
  html body .page-wrap.home_page section .main_menu {
    height: inherit;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  /* line 750, app/sass/style.css */
  html body .page-wrap.home_page section .main_menu a {
    margin-top: 4px;
    line-height: 34px; }
  /* line 753, app/sass/style.css */
  html body .page-wrap.home_page section .main_menu a.active {
    margin-top: 8px;
    line-height: 58px; }
  /* line 756, app/sass/style.css */
  html body .page-wrap section .row .carousel-wrap .carousel {
    width: 150px;
    height: 150px;
    margin-top: -96px; } }

@media only screen and (max-height: 540px) {
  /* line 762, app/sass/style.css */
  html body.index_page .page-wrap {
    height: 100% !important; }
  /* line 764, app/sass/style.css */
  html body.index_page .page-wrap header {
    height: 74px !important; }
  /* line 766, app/sass/style.css */
  html body.index_page .page-wrap header .burder_menu {
    top: -3px; }
  /* line 768, app/sass/style.css */
  html body.index_page .page-wrap header a.logo {
    margin: 0 auto;
    height: 38px; }
  /* line 771, app/sass/style.css */
  html body.index_page .page-wrap section .main_menu a {
    margin-top: 4px;
    line-height: 28px; }
  /* line 774, app/sass/style.css */
  html body.index_page .page-wrap section .main_menu a.active {
    margin-top: 8px;
    line-height: 45px; } }

@media only screen and (max-height: 480px) {
  /* line 779, app/sass/style.css */
  html body.index_page .page-wrap {
    height: 496px !important; } }
